# IPL Dataset Analysis

## Problem Statement
We want to know as to what happens during an IPL match which raises several questions in our mind with our limited knowledge about the game called cricket on which it is based. This analysis is done to know as which factors led one of the team to win and how does it matter.

## About the Dataset :
The Indian Premier League (IPL) is a professional T20 cricket league in India contested during April-May of every year by teams representing Indian cities. It is the most-attended cricket league in the world and ranks sixth among all the sports leagues. It has teams with players from around the world and is very competitive and entertaining with a lot of close matches between teams.

The IPL and other cricket related datasets are available at [cricsheet.org](https://cricsheet.org/%c2%a0(data). Feel free to visit the website and explore the data by yourself as exploring new sources of data is one of the interesting activities a data scientist gets to do.

Snapshot of the data you will be working on:<br>
<br>
The dataset 136522 data points and 23 features<br>

|Features|Description|
|-----|-----|
|match_code|Code pertaining to individual match|
|date|Date of the match played|
|city|City where the match was played|
|venue|Stadium in that city where the match was played|
|team1|team1|
|team2|team2|
|toss_winner|Who won the toss out of two teams|
|toss_decision|toss decision taken by toss winner|
|winner|Winner of that match between two teams|
|win_type|How did the team won(by wickets or runs etc.)|
|win_margin|difference with which the team won| 
|inning|inning type(1st or 2nd)|
|delivery|ball delivery|
|batting_team|current team on batting|
|batsman|current batsman on strike|
|non_striker|batsman on non-strike|
|bowler|Current bowler|
|runs|runs scored|
|extras|extra run scored|
|total|total run scored on that delivery including runs and extras|
|extras_type|extra run scored by wides or no ball or legby|
|player_out|player that got out|
|wicket_kind|How did the player got out|
|wicket_fielders|Fielder who caught out the player by catch|

### Analyzing data using pandas module

### Read the data using pandas module.

In [1]:
import pandas as pd
import numpy as np
df_ipl = pd.read_csv('./data/ipl_dataset.csv')
df_ipl.shape

(136522, 24)

In [2]:
len(df_ipl['match_code'].unique())

# You can also use: 
#df_ipl['match_code'].nunique()

577

### There are certain fixed cities all around the world where matches are held. Find the list of unique cities where matches were played

In [3]:
len(df_ipl['city'].unique()

30

In [4]:
# Corrected as Venues to Cities
print('\nCities Played At:',df_ipl['city'].unique())

Cities Played At: ['East London' 'Port Elizabeth' 'Centurion' 'neutral_venue' 'Chennai'
 'Jaipur' 'Kolkata' 'Delhi' 'Chandigarh' 'Hyderabad' 'Ranchi' 'Mumbai'
 'Bangalore' 'Dharamsala' 'Pune' 'Rajkot' 'Durban' 'Cuttack' 'Cape Town'
 'Ahmedabad' 'Johannesburg' 'Visakhapatnam' 'Abu Dhabi' 'Raipur' 'Kochi'
 'Kimberley' 'Nagpur' 'Bloemfontein' 'Indore' 'Kanpur']

### Find the columns which contains null values if any ?

In [7]:
df_ipl.isnull().sum()
# columns such as winner, win_type, win_margin, extras_type, player_out, wicket_kind, wicket_fielders are having null values.

match_code              0
date                    0
city                    0
venue                   0
team1                   0
team2                   0
toss_winner             0
toss_decision           0
winner               1818
win_type             1818
win_margin           1818
inning                  0
delivery                0
batting_team            0
batsman                 0
non_striker             0
bowler                  0
runs                    0
extras                  0
total                   0
extras_type        129064
player_out         129807
wicket_kind        129807
wicket_fielders    131657
dtype: int64

### Though the match is held in different cities all around the world it may or maynot have multiple venues (stadiums where matches are held) list down top 5 most played venues

In [18]:
df_ipl.groupby('venue')['match_code'].nunique()

venue
Barabati Stadium                                         7
Brabourne Stadium                                       11
Buffalo Park                                             3
De Beers Diamond Oval                                    3
Dr DY Patil Sports Academy                              17
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Dubai International Cricket Stadium                      7
Eden Gardens                                            54
Feroz Shah Kotla                                        53
Green Park                                               2
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   2
JSCA International Stadium Complex                       7
Kingsmead                                               15
M Chinnaswamy Stadium                                   58
MA Chidambaram Stadium, Chepauk                         48
Maharashtra Cricket Association Stadium                  8
Nehru Stadium                                            5
New Wanderers Stadium                                    8
Newlands                                                 7
OUTsurance Oval                                          2
Punjab Cricket Association IS Bindra Stadium, Mohali     7
Punjab Cricket Association Stadium, Mohali              35
Rajiv Gandhi International Stadium, Uppal               41
Sardar Patel Stadium, Motera                            12
Saurashtra Cricket Association Stadium                   5
Sawai Mansingh Stadium                                  33
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                  6
Sheikh Zayed Stadium                                     7
St George's Park                                         7
Subrata Roy Sahara Stadium                              17
SuperSport Park                                         12
Vidarbha Cricket Association Stadium, Jamtha             3
Wankhede Stadium                                        49
Name: match_code, dtype: int64

In [19]:
venues = df_ipl.groupby('venue')['match_code'].nunique().sort_values(ascending=False)

In [20]:
print('Top 5 favoured grounds are : \n\n',venues[0:5])

Top 5 favoured grounds are :

 venue
M Chinnaswamy Stadium              58
Eden Gardens                       54
Feroz Shah Kotla                   53
Wankhede Stadium                   49
MA Chidambaram Stadium, Chepauk    48
Name: match_code, dtype: int64

### Make a runs vs run-count frequency table

In [22]:
df_ipl['runs'].value_counts()

0    55870
1    50087
4    15409
2     8835
6     5806
3      473
5       42
Name: runs, dtype: int64

In [8]:
# Let's look at what kind of runs were scored 
# If the frequency of sixers and fours are high then we can infer that its a high intensity match with short time period(i.e 20 overs)
runs_counts = df_ipl['runs'].value_counts()
print('Runs count frequency table:\n\n',runs_counts)

# Also you can try using pandas function crosstab
#runs_count = pd.crosstab(df_ipl['runs'], columns='runs_count')
#print('Runs count frequency table:\n\n',runs_count)

Runs count frequency table:

 0    55870
1    50087
4    15409
2     8835
6     5806
3      473
5       42
Name: runs, dtype: int64

### IPL seasons are held every year now let's look at our data and extract how many seasons were recorded.

In [23]:
df_ipl['Date/Time'] = pd.to_datetime(df_ipl['date'])

In [26]:
year = df_ipl['Date/Time'].dt.year

In [27]:
type(year)

pandas.core.series.Series

In [28]:
set(year)

{2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016}

In [29]:
year.unique()

array([2009, 2014, 2011, 2008, 2015, 2010, 2013, 2012, 2016], dtype=int64)

In [34]:
df_ipl['year'] = df_ipl['date'].apply(lambda x : x[:4])

print('The no. of seasons that were played are :', len(df_ipl['year'].unique()))
print('Seasons played were in :', df_ipl['year'].unique())

The no. of seasons that were played are : 9
Seasons played were in : ['2009' '2014' '2011' '2008' '2015' '2010' '2013' '2012' '2016']

### What are the total no. of matches played per season

In [36]:
matches_per_season = df_ipl.groupby('year')['match_code'].nunique()
print('Matches held per season are :\n\n', matches_per_season)

Matches held per season are :

 year
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
Name: match_code, dtype: int64

### What are the total runs scored across each season

In [37]:
runs_per_season = df_ipl.groupby('year')['total'].sum()

In [38]:
# Seems like the season of 2012 and 2013 were most scoring seasons
print('total runs scored per season are: \n', runs_per_season)

total runs scored per season are:
 year
2008    17936
2009    16320
2010    18862
2011    21154
2012    22451
2013    22541
2014    18909
2015    18331
2016    18862
Name: total, dtype: int64

### There are teams which are high performing and low performing. Let's look at the aspect of performance of an individual team. Filter the data and aggregate the runs scored by each team. Display top 10 results which are having runs scored over 200.

In [45]:
df_ipl.groupby(['match_code', 'inning','batting_team'])['total'].sum().reset_index()

pandas.core.frame.DataFrame

In [46]:
high_scores=df_ipl.groupby(['match_code', 'inning','batting_team'])['total'].sum().reset_index()

In [47]:
high_scores = high_scores[high_scores['total'] >= 200]

In [50]:
high_scores

      match_code  inning                 batting_team  total
0         335982       1        Kolkata Knight Riders    222
2         335983       1          Chennai Super Kings    240
3         335983       2              Kings XI Punjab    207
14        335989       1          Chennai Super Kings    208
15        335989       2               Mumbai Indians    202
16        335990       1              Deccan Chargers    214
17        335990       2             Rajasthan Royals    217
64        336014       1        Kolkata Knight Riders    204
74        336019       1              Kings XI Punjab    221
100       336033       1             Rajasthan Royals    211
101       336033       2          Chennai Super Kings    201
170       392210       1             Rajasthan Royals    211
232       419107       1               Mumbai Indians    212
233       419107       2             Rajasthan Royals    208
242       419112       1              Kings XI Punjab    203
243       419112       2  Royal Challengers Bangalore    204
246       419114       1               Mumbai Indians    218
292       419137       1          Chennai Super Kings    246
293       419137       2             Rajasthan Royals    223
296       419139       1        Kolkata Knight Riders    200
297       419139       2              Kings XI Punjab    204
398       501223       1             Delhi Daredevils    231
399       501223       2              Kings XI Punjab    202
440       501244       1  Royal Challengers Bangalore    205
472       501260       1              Kings XI Punjab    232
493       501271       1          Chennai Super Kings    205
519       548318       1  Royal Challengers Bangalore    205
520       548318       2          Chennai Super Kings    208
563       548342       1             Delhi Daredevils    207
623       548372       1  Royal Challengers Bangalore    215
639       548380       1          Chennai Super Kings    222
659       598006       1               Mumbai Indians    209
701       598027       1  Royal Challengers Bangalore    263
715       598034       1          Chennai Super Kings    200
749       598051       1          Chennai Super Kings    223
799       729283       1          Chennai Super Kings    205
800       729283       2              Kings XI Punjab    206
851       733987       1              Kings XI Punjab    231
871       734007       1          Sunrisers Hyderabad    205
872       734007       2              Kings XI Punjab    211
875       734011       1             Rajasthan Royals    201
911       734047       1              Kings XI Punjab    226
912       734047       2          Chennai Super Kings    202
914       734049       2        Kolkata Knight Riders    200
921       829711       1          Chennai Super Kings    209
947       829737       1               Mumbai Indians    209
971       829763       1  Royal Challengers Bangalore    200
992       829785       1  Royal Challengers Bangalore    226
994       829787       1          Sunrisers Hyderabad    201
1002      829795       1  Royal Challengers Bangalore    235
1030      829823       1               Mumbai Indians    202
1038      980907       1  Royal Challengers Bangalore    227
1118      980987       1  Royal Challengers Bangalore    248
1124      980993       1               Mumbai Indians    206
1130      980999       1  Royal Challengers Bangalore    211
1150      981019       1          Sunrisers Hyderabad    208
1151      981019       2  Royal Challengers Bangalore    200

In [49]:
"""
The above dataframe shows the number of times a team has scored above 200 runs against another team. 
Also the number of 200+ runs are higher in the 1st innings.
"""
high_scores.nlargest(10, 'total')

      match_code  inning                 batting_team  total
701       598027       1  Royal Challengers Bangalore    263
1118      980987       1  Royal Challengers Bangalore    248
292       419137       1          Chennai Super Kings    246
2         335983       1          Chennai Super Kings    240
1002      829795       1  Royal Challengers Bangalore    235
472       501260       1              Kings XI Punjab    232
398       501223       1             Delhi Daredevils    231
851       733987       1              Kings XI Punjab    231
1038      980907       1  Royal Challengers Bangalore    227
911       734047       1              Kings XI Punjab    226

### Chasing a 200+ target is difficulty in T-20 format. What are the chances that a team scoring runs above 200  in their 1st inning is chased by the opposition in 2nd inning.

In [51]:
high_scores1 = high_scores[high_scores['inning']==1]
high_scores2 = high_scores[high_scores['inning']==2]

In [52]:
high_scores1.head()

    match_code  inning           batting_team  total
0       335982       1  Kolkata Knight Riders    222
2       335983       1    Chennai Super Kings    240
14      335989       1    Chennai Super Kings    208
16      335990       1        Deccan Chargers    214
64      336014       1  Kolkata Knight Riders    204

In [53]:
high_scores2.head()

     match_code  inning         batting_team  total
3        335983       2      Kings XI Punjab    207
15       335989       2       Mumbai Indians    202
17       335990       2     Rajasthan Royals    217
101      336033       2  Chennai Super Kings    201
233      419107       2     Rajasthan Royals    208

In [54]:
high_scores1=high_scores1.merge(high_scores2[['match_code','inning', 'total']], on='match_code')

In [55]:
high_scores1

,match_code,inning_x,batting_team,total_x,inning_y,total_y
0,335983,1,Chennai Super Kings,240,2,207
1,335989,1,Chennai Super Kings,208,2,202
2,335990,1,Deccan Chargers,214,2,217
3,336033,1,Rajasthan Royals,211,2,201
4,419107,1,Mumbai Indians,212,2,208
5,419112,1,Kings XI Punjab,203,2,204
6,419137,1,Chennai Super Kings,246,2,223
7,419139,1,Kolkata Knight Riders,200,2,204
8,501223,1,Delhi Daredevils,231,2,202
9,548318,1,Royal Challengers Bangalore,205,2,208
10,729283,1,Chennai Super Kings,205,2,206
11,734007,1,Sunrisers Hyderabad,205,2,211
12,734047,1,Kings XI Punjab,226,2,202
13,981019,1,Sunrisers Hyderabad,208,2,200

In [56]:
high_scores1.rename(columns={'inning_x':'inning_1','inning_y':'inning_2','total_x':'inning1_runs','total_y':'inning2_runs'},inplace=True)

In [57]:
high_scores1.head()

,match_code,inning_1,batting_team,inning1_runs,inning_2,inning2_runs
0,335983,1,Chennai Super Kings,240,2,207
1,335989,1,Chennai Super Kings,208,2,202
2,335990,1,Deccan Chargers,214,2,217
3,336033,1,Rajasthan Royals,211,2,201
4,419107,1,Mumbai Indians,212,2,208

In [60]:
#high_scores1=high_scores1[high_scores1['inning1_runs']>=200]
high_scores1['is_score_chased']=1

In [61]:
high_scores1

,match_code,inning_1,batting_team,inning1_runs,inning_2,inning2_runs,is_score_chased
0,335983,1,Chennai Super Kings,240,2,207,1
1,335989,1,Chennai Super Kings,208,2,202,1
2,335990,1,Deccan Chargers,214,2,217,1
3,336033,1,Rajasthan Royals,211,2,201,1
4,419107,1,Mumbai Indians,212,2,208,1
5,419112,1,Kings XI Punjab,203,2,204,1
6,419137,1,Chennai Super Kings,246,2,223,1
7,419139,1,Kolkata Knight Riders,200,2,204,1
8,501223,1,Delhi Daredevils,231,2,202,1
9,548318,1,Royal Challengers Bangalore,205,2,208,1
10,729283,1,Chennai Super Kings,205,2,206,1
11,734007,1,Sunrisers Hyderabad,205,2,211,1
12,734047,1,Kings XI Punjab,226,2,202,1
13,981019,1,Sunrisers Hyderabad,208,2,200,1

In [62]:
high_scores1['is_score_chased'] = np.where(high_scores1['inning1_runs']<=high_scores1['inning2_runs'], 'yes', 'no')

In [63]:
high_scores1

,match_code,inning_1,batting_team,inning1_runs,inning_2,inning2_runs,is_score_chased
0,335983,1,Chennai Super Kings,240,2,207,no
1,335989,1,Chennai Super Kings,208,2,202,no
2,335990,1,Deccan Chargers,214,2,217,yes
3,336033,1,Rajasthan Royals,211,2,201,no
4,419107,1,Mumbai Indians,212,2,208,no
5,419112,1,Kings XI Punjab,203,2,204,yes
6,419137,1,Chennai Super Kings,246,2,223,no
7,419139,1,Kolkata Knight Riders,200,2,204,yes
8,501223,1,Delhi Daredevils,231,2,202,no
9,548318,1,Royal Challengers Bangalore,205,2,208,yes
10,729283,1,Chennai Super Kings,205,2,206,yes
11,734007,1,Sunrisers Hyderabad,205,2,211,yes
12,734047,1,Kings XI Punjab,226,2,202,no
13,981019,1,Sunrisers Hyderabad,208,2,200,no

In [70]:
chased = len(high_scores1[high_scores1['is_score_chased'] == 'yes'])

In [74]:
print('The chances of chasing a target of 200+ in 1st innings are : {}%'.format(round(chased/14*100)))

The chances of chasing a target of 200+ in 1st innings are : 43%

In [75]:
chances = high_scores1['is_score_chased'].value_counts()
print(chances)

no     8
yes    6
Name: is_score_chased, dtype: int64

In [76]:
print('The chances of chasing a target of 200+ in 1st innings are : \n' , round(chances[1]/14*100))

#It seems to be clear that team batting first and scoring 200+ runs, has a very high probablity of winning the match.

The chances of chasing a target of 200+ in 1st innings are :
 43.0

### Every season has that one team which is outperforming others and is in great form. Which team has the highest win counts in their respective seasons ?

In [77]:
df_ipl.drop_duplicates(subset = 'match_code', keep='first')

,match_code,date,city,venue,team1,team2,toss_winner,toss_decision,winner,win_type,...,bowler,runs,extras,total,extras_type,player_out,wicket_kind,wicket_fielders,Date/Time,year
0,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,...,I Sharma,0,1,1,wides,NaN,NaN,NaN,2009-05-01,2009
253,392197,2009-04-27,Port Elizabeth,St George's Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,...,I Sharma,1,0,1,NaN,NaN,NaN,NaN,2009-04-27,2009
472,392212,2009-05-06,Centurion,SuperSport Park,Deccan Chargers,Mumbai Indians,Deccan Chargers,bat,Deccan Chargers,runs,...,SL Malinga,0,0,0,NaN,NaN,NaN,NaN,2009-05-06,2009
717,729297,2014-04-23,neutral_venue,Dubai International Cricket Stadium,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,field,Chennai Super Kings,runs,...,DS Kulkarni,4,0,4,NaN,NaN,NaN,NaN,2014-04-23,2014
964,501226,2011-04-25,Chennai,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Pune Warriors,Pune Warriors,field,Chennai Super Kings,runs,...,NL McCullum,0,0,0,NaN,NaN,NaN,NaN,2011-04-25,2011
1210,335987,2008-04-21,Jaipur,Sawai Mansingh Stadium,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,...,MM Patel,0,0,0,NaN,NaN,NaN,NaN,2008-04-21,2008
1451,392227,2009-05-16,Port Elizabeth,St George's Park,Chennai Super Kings,Mumbai Indians,Mumbai Indians,bat,Chennai Super Kings,wickets,...,JA Morkel,1,0,1,NaN,NaN,NaN,NaN,2009-05-16,2009
1693,829761,2015-05-07,Kolkata,Eden Gardens,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,...,Z Khan,0,1,1,wides,NaN,NaN,NaN,2015-05-07,2015
1943,336005,2008-05-04,Jaipur,Sawai Mansingh Stadium,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,bat,Rajasthan Royals,wickets,...,Sohail Tanvir,0,0,0,NaN,PA Patel,lbw,NaN,2008-05-04,2008
2151,501223,2011-04-23,Delhi,Feroz Shah Kotla,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,Delhi Daredevils,runs,...,P Kumar,0,0,0,NaN,NaN,NaN,NaN,2011-04-23,2011
2400,419108,2010-03-13,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils,wickets,...,DP Nannes,0,1,1,wides,NaN,NaN,NaN,2010-03-13,2010
2646,729281,2014-04-17,neutral_venue,Sharjah Cricket Stadium,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,...,MA Starc,0,0,0,NaN,NaN,NaN,NaN,2014-04-17,2014
2876,501234,2011-04-30,Kolkata,Eden Gardens,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,...,B Lee,0,0,0,NaN,NaN,NaN,NaN,2011-04-30,2011
3109,501199,2011-04-09,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,...,JDP Oram,5,0,5,NaN,NaN,NaN,NaN,2011-04-09,2011
3346,392213,2009-05-07,Centurion,SuperSport Park,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,...,A Singh,0,0,0,NaN,NaN,NaN,NaN,2009-05-07,2009
3564,598061,2013-05-15,Ranchi,JSCA International Stadium Complex,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,field,Pune Warriors,runs,...,L Balaji,0,0,0,NaN,NaN,NaN,NaN,2013-05-15,2013
3808,501235,2011-05-01,Jaipur,Sawai Mansingh Stadium,Rajasthan Royals,Pune Warriors,Rajasthan Royals,field,Rajasthan Royals,wickets,...,J Botha,0,0,0,NaN,NaN,NaN,NaN,2011-05-01,2011
4049,829799,2015-05-11,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,...,Sandeep Sharma,0,0,0,NaN,NaN,NaN,NaN,2015-05-11,2015
4297,336020,2008-05-15,Delhi,Feroz Shah Kotla,Delhi Daredevils,Deccan Chargers,Deccan Chargers,field,Delhi Daredevils,runs,...,DP Vijaykumar,2,0,2,NaN,NaN,NaN,NaN,2008-05-15,2008
4544,501210,2011-04-15,Mumbai,Wankhede Stadium,Mumbai Indians,Kochi Tuskers Kerala,Kochi Tuskers Kerala,field,Kochi Tuskers Kerala,wickets,...,RP Singh,0,0,0,NaN,NaN,NaN,NaN,2011-04-15,2011
4791,501249,2011-05-09,Jaipur,Sawai Mansingh Stadium,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,field,Chennai Super Kings,runs,...,AL Menaria,4,0,4,NaN,NaN,NaN,NaN,2011-05-09,2011
5037,336011,2008-05-09,Jaipur,Sawai Mansingh Stadium,Rajasthan Royals,Deccan Chargers,Rajasthan Royals,field,Rajasthan Royals,wickets,...,Sohail Tanvir,4,0,4,NaN,NaN,NaN,NaN,2008-05-09,2008
5260,548379,2012-05-23,Bangalore,M Chinnaswamy Stadium,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,...,Harbhajan Singh,0,0,0,NaN,NaN,NaN,NaN,2012-05-23,2012
5509,980945,2016-04-27,Delhi,Feroz Shah Kotla,Delhi Daredevils,Gujarat Lions,Delhi Daredevils,field,Gujarat Lions,runs,...,Z Khan,4,0,4,NaN,NaN,NaN,NaN,2016-04-27,2016
5751,548374,2012-05-19,Dharamsala,Himachal Pradesh Cricket Association Stadium,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils,wickets,...,M Morkel,0,5,5,wides,NaN,NaN,NaN,2012-05-19,2012
5987,419132,2010-03-30,Mumbai,Brabourne Stadium,Mumbai Indians,Kings XI Punjab,Mumbai Indians,field,Mumbai Indians,wickets,...,R McLaren,0,0,0,NaN,NaN,NaN,NaN,2010-03-30,2010
6238,829781,2015-05-04,Kolkata,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Kolkata Knight Riders,runs,...,B Kumar,0,0,0,NaN,NaN,NaN,NaN,2015-05-04,2015
6483,336013,2008-05-10,Chennai,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,field,Chennai Super Kings,runs,...,S Sreesanth,0,0,0,NaN,NaN,NaN,NaN,2008-05-10,2008
6736,829733,2015-04-18,Pune,Maharashtra Cricket Association Stadium,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,...,UT Yadav,0,0,0,NaN,NaN,NaN,NaN,2015-04-18,2015
6967,980911,2016-04-14,Rajkot,Saurashtra Cricket Association Stadium,Gujarat Lions,Rising Pune Supergiants,Rising Pune Supergiants,bat,Gujarat Lions,wickets,...,P Kumar,0,0,0,NaN,NaN,NaN,NaN,2016-04-14,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129518,501215,2011-04-18,Kochi,Nehru Stadium,Kochi Tuskers Kerala,Chennai Super Kings,Kochi Tuskers Kerala,field,Kochi Tuskers Kerala,wickets,...,RP Singh,0,0,0,NaN,NaN,NaN,NaN,2011-04-18,2011
129714,734009,2014-05-14,Cuttack,Barabati Stadium,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,...,M Morkel,0,0,0,NaN,NaN,NaN,NaN,2014-05-14,2014
129955,598068,2013-05-18,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,Royal Challengers Bangalore,runs,...,R Ashwin,0,0,0,NaN,NaN,NaN,NaN,2013-05-18,2013
130055,419164,2010-04-24,Mumbai,Dr DY Patil Sports Academy,Royal Challengers Bangalore,Deccan Chargers,Deccan Chargers,bat,Royal Challengers Bangalore,wickets,...,A Kumble,4,0,4,NaN,NaN,NaN,NaN,2010-04-24,2010
130253,335995,2008-04-27,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,bat,Kings XI Punjab,wickets,...,B Lee,0,0,0,NaN,NaN,NaN,NaN,2008-04-27,2008
130501,419109,2010-03-14,Kolkata,Eden Gardens,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,...,CK Langeveldt,0,0,0,NaN,NaN,NaN,NaN,2010-03-14,2010
130744,548380,2012-05-25,Chennai,"MA Chidambaram Stadium, Chepauk",Delhi Daredevils,Chennai Super Kings,Delhi Daredevils,field,Chennai Super Kings,runs,...,Sunny Gupta,4,0,4,NaN,NaN,NaN,NaN,2012-05-25,2012
130973,980959,2016-05-02,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,...,AD Russell,0,0,0,NaN,NaN,NaN,NaN,2016-05-02,2016
131221,829791,2015-05-09,Kolkata,Eden Gardens,Kolkata Knight Riders,Kings XI Punjab,Kings XI Punjab,bat,Kolkata Knight Riders,wickets,...,UT Yadav,1,0,1,NaN,NaN,NaN,NaN,2015-05-09,2015
131467,392192,2009-04-25,Durban,Kingsmead,Deccan Chargers,Mumbai Indians,Deccan Chargers,bat,Deccan Chargers,runs,...,SL Malinga,0,0,0,NaN,NaN,NaN,NaN,2009-04-25,2009
131719,729295,2014-04-22,neutral_venue,Sharjah Cricket Stadium,Kings XI Punjab,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Kings XI Punjab,runs,...,DW Steyn,1,0,1,NaN,NaN,NaN,NaN,2014-04-22,2014
131964,419138,2010-04-03,Mumbai,Brabourne Stadium,Mumbai Indians,Deccan Chargers,Mumbai Indians,bat,Mumbai Indians,runs,...,RG Sharma,0,1,1,wides,NaN,NaN,NaN,2010-04-03,2010
132202,548329,2012-05-10,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,...,AD Russell,0,0,0,NaN,NaN,NaN,NaN,2012-05-10,2012
132427,501219,2011-04-20,Kolkata,Eden Gardens,Kolkata Knight Riders,Kochi Tuskers Kerala,Kolkata Knight Riders,field,Kochi Tuskers Kerala,runs,...,B Lee,0,0,0,NaN,NaN,NaN,NaN,2011-04-20,2011
132672,733971,2014-05-02,Ranchi,JSCA International Stadium Complex,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,bat,Chennai Super Kings,runs,...,Shakib Al Hasan,0,0,0,NaN,NaN,NaN,NaN,2014-05-02,2014
132878,981015,2016-05-25,Delhi,Feroz Shah Kotla,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,Sunrisers Hyderabad,runs,...,YK Pathan,1,0,1,NaN,NaN,NaN,NaN,2016-05-25,2016
133122,419113,2010-03-16,Kolkata,Eden Gardens,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,...,SE Bond,0,0,0,NaN,NaN,NaN,NaN,2010-03-16,2010
133362,336035,2008-05-25,Kolkata,Eden Gardens,Kolkata Knight Riders,Kings XI Punjab,Kings XI Punjab,bat,Kolkata Knight Riders,wickets,...,Umar Gul,0,0,0,NaN,NaN,NaN,NaN,2008-05-25,2008
133610,501259,2011-05-16,Mumbai,Dr DY Patil Sports Academy,Pune Warriors,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,...,JP Duminy,0,0,0,NaN,NaN,NaN,NaN,2011-05-16,2011
133853,336015,2008-05-11,Jaipur,Sawai Mansingh Stadium,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,field,Rajasthan Royals,wickets,...,AD Mascarenhas,4,0,4,NaN,NaN,NaN,NaN,2008-05-11,2008
134098,980915,2016-04-16,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,...,M Morkel,2,0,2,NaN,NaN,NaN,NaN,2016-04-16,2016
134338,419106,2010-03-12,Mumbai,Dr DY Patil Sports Academy,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,field,Kolkata Knight Riders,runs,...,WPUJC Vaas,0,0,0,NaN,MK Tiwary,caught,RG Sharma,2010-03-12,2010
134592,501267,2011-05-22,Kolkata,Eden Gardens,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,...,AN Ahmed,0,0,0,NaN,NaN,NaN,NaN,2011-05-22,2011
134840,829725,2015-04-15,Pune,Maharashtra Cricket Association Stadium,Kings XI Punjab,Delhi Daredevils,Kings XI Punjab,bat,Delhi Daredevils,wickets,...,NM Coulter-Nile,0,0,0,NaN,NaN,NaN,NaN,2015-04-15,2015
135093,501229,2011-04-27,Kochi,Nehru Stadium,Kochi Tuskers Kerala,Deccan Chargers,Kochi Tuskers Kerala,field,Deccan Chargers,runs,...,RP Singh,1,0,1,NaN,NaN,NaN,NaN,2011-04-27,2011
135321,598005,2013-04-08,Jaipur,Sawai Mansingh Stadium,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,Rajasthan Royals,runs,...,B Lee,0,0,0,NaN,NaN,NaN,NaN,2013-04-08,2013
135563,829731,2015-04-18,Visakhapatnam,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Sunrisers Hyderabad,Delhi Daredevils,Delhi Daredevils,bat,Delhi Daredevils,runs,...,P Kumar,1,0,1,NaN,NaN,NaN,NaN,2015-04-18,2015
135810,548314,2012-04-09,Visakhapatnam,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Deccan Chargers,Mumbai Indians,Deccan Chargers,bat,Mumbai Indians,wickets,...,Harbhajan Singh,0,0,0,NaN,NaN,NaN,NaN,2012-04-09,2012
136053,829795,2015-05-10,Mumbai,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,...,MJ McClenaghan,0,0,0,NaN,NaN,NaN,NaN,2015-05-10,2015
136301,336018,2008-05-14,Mumbai,Wankhede Stadium,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,...,SM Pollock,0,0,0,NaN,NaN,NaN,NaN,2008-05-14,2008

In [78]:
# Lets see which team were performing outstanding with their respective seasons.
# drop=True - Do not try to insert index into dataframe columns
match_wise_data = df_ipl.drop_duplicates(subset = 'match_code', keep='first').reset_index(drop=True)

In [81]:
match_wise_data.head()

,match_code,date,city,venue,team1,team2,toss_winner,toss_decision,winner,win_type,...,bowler,runs,extras,total,extras_type,player_out,wicket_kind,wicket_fielders,Date/Time,year
0,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,...,I Sharma,0,1,1,wides,NaN,NaN,NaN,2009-05-01,2009
1,392197,2009-04-27,Port Elizabeth,St George's Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,...,I Sharma,1,0,1,NaN,NaN,NaN,NaN,2009-04-27,2009
2,392212,2009-05-06,Centurion,SuperSport Park,Deccan Chargers,Mumbai Indians,Deccan Chargers,bat,Deccan Chargers,runs,...,SL Malinga,0,0,0,NaN,NaN,NaN,NaN,2009-05-06,2009
3,729297,2014-04-23,neutral_venue,Dubai International Cricket Stadium,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,field,Chennai Super Kings,runs,...,DS Kulkarni,4,0,4,NaN,NaN,NaN,NaN,2014-04-23,2014
4,501226,2011-04-25,Chennai,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Pune Warriors,Pune Warriors,field,Chennai Super Kings,runs,...,NL McCullum,0,0,0,NaN,NaN,NaN,NaN,2011-04-25,2011

In [80]:
match_wise_data.shape

(577, 26)

In [82]:
X=match_wise_data.groupby('year')['winner'].value_counts()
X

year  winner
2008  Rajasthan Royals               13
      Kings XI Punjab                10
      Chennai Super Kings             9
      Delhi Daredevils                7
      Mumbai Indians                  7
      Kolkata Knight Riders           6
      Royal Challengers Bangalore     4
      Deccan Chargers                 2
2009  Delhi Daredevils               10
      Deccan Chargers                 9
      Royal Challengers Bangalore     9
      Chennai Super Kings             8
      Kings XI Punjab                 7
      Mumbai Indians                  5
      Rajasthan Royals                5
      Kolkata Knight Riders           3
2010  Mumbai Indians                 11
      Chennai Super Kings             9
      Deccan Chargers                 8
      Royal Challengers Bangalore     8
      Delhi Daredevils                7
      Kolkata Knight Riders           7
      Rajasthan Royals                6
      Kings XI Punjab                 3
2011  Chennai Super Kings            11
      Mumbai Indians                 10
      Royal Challengers Bangalore    10
      Kolkata Knight Riders           8
      Kings XI Punjab                 7
      Deccan Chargers                 6
                                     ..
2013  Sunrisers Hyderabad             9
      Kings XI Punjab                 8
      Royal Challengers Bangalore     8
      Kolkata Knight Riders           6
      Pune Warriors                   4
      Delhi Daredevils                3
2014  Kings XI Punjab                12
      Kolkata Knight Riders          11
      Chennai Super Kings            10
      Mumbai Indians                  7
      Rajasthan Royals                6
      Sunrisers Hyderabad             6
      Royal Challengers Bangalore     5
      Delhi Daredevils                2
2015  Chennai Super Kings            10
      Mumbai Indians                 10
      Royal Challengers Bangalore     8
      Kolkata Knight Riders           7
      Rajasthan Royals                7
      Sunrisers Hyderabad             7
      Delhi Daredevils                5
      Kings XI Punjab                 2
2016  Sunrisers Hyderabad            11
      Gujarat Lions                   9
      Royal Challengers Bangalore     9
      Kolkata Knight Riders           8
      Delhi Daredevils                7
      Mumbai Indians                  7
      Rising Pune Supergiants         5
      Kings XI Punjab                 4
Name: winner, Length: 76, dtype: int64

In [83]:
type(X)

pandas.core.series.Series

In [87]:
X['2008']

winner
Rajasthan Royals               13
Kings XI Punjab                10
Chennai Super Kings             9
Delhi Daredevils                7
Mumbai Indians                  7
Kolkata Knight Riders           6
Royal Challengers Bangalore     4
Deccan Chargers                 2
Name: winner, dtype: int64

In [89]:
X['2008'].idxmax(), X['2008'].max()

('Rajasthan Royals', 13)

In [90]:
for year in range(2008,2017):
    print(year,X[str(year)].idxmax(), X[str(year)].max())

2008 Rajasthan Royals 13
2009 Delhi Daredevils 10
2010 Mumbai Indians 11
2011 Chennai Super Kings 11
2012 Kolkata Knight Riders 12
2013 Mumbai Indians 13
2014 Kings XI Punjab 12
2015 Chennai Super Kings 10
2016 Sunrisers Hyderabad 11